<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}, {{userName}}!
  </h1>
  <form>
    Enter Name: <input [(ngModel)]="userName" type="text" name="user" alt='test'>
  </form>
  <img width="300" alt="Angular Logo" src="/assets/recipes-logo.png">
</div>

<h2>Recipes: </h2>

<!-- <h3>{{selectedRecipe.ingrediants}}</h3> -->



<div *ngIf="selectedRecipe">
  <p>Recipe Complete? {{selectedRecipe.done}}</p>

  <h3>Edit Recipe</h3>
  <label>Change Recipe Ingrediants:</label>
  <br>
  <input [(ngModel)]="selectedRecipe.ingrediants">
  <br>
  <label>Enter Recipe Priority (1-3):</label>
  <br>
  <input type="radio" [(ngModel)]="selectedRecipe.priority" value="1"> 1 (Low Priority)<br>
  <input type="radio" [(ngModel)]="selectedRecipe.priority" value="2"> 2 (Medium Priority)<br>
  <input type="radio" [(ngModel)]="selectedRecipe.priority" value="3"> 3 (High Priority)<br>
  <button (click)="finishedEditing()">Done</button>
</div>

<ul  *ngFor = "let currentRecipe of recipe">
  <li [class]="priorityColor(currentRecipe)">
    <span id='title'>{{currentRecipe.title}} </span>
    <ul>
      <div class="row">
        <div class="col-md-8">
          <div class="card bg-light text-dark">
            <div class="card-body">
              <li><p>Ingrediants: <button (click)="editRecipe(currentRecipe)">Edit!</button></p>
                <ol>
                  <li><span id='ingrediants'>{{currentRecipe.ingrediants}}</span></li>

                </ol>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <!-- <div class="card bg-info text-dark">
            <div class="card-body"> -->
              <li> <p>Directions:</p>
                <span id="recipe"> {{currentRecipe.directions}}</span></li>
              <!-- </div>
            </div> -->
          </div>
        </div>

      </ul>
    </li>
  </ul>
