
<div style="text-align:center">
  <h1>
    {{titleFocus}}, {{userName}}!
  </h1>
  <h3> To Do List {{month}}/{{day}}/{{year}}</h3>
  <form>
    Enter Name: <input [(ngModel)]="userName" type="text" name="user" alt='test'>
  </form>
  <img width="300" alt="fill-beer" src="/assets/fill-beer.gif">
</div>


<app-task-list [childTaskList]="masterTaskList" (clickSender)="editTask($event)"></app-task-list>

<app-edit-task [childSelectedTask]="selectedTask" (clickedDone)="finishedEditing()"></app-edit-task>

<app-new-task (sendTask)="addTask($event)"></app-new-task>
